[submodule "Classes/Terceiros/delphi-neon"]
	path = Classes/Terceiros/delphi-neon
	url = https://github.com/evaldoavelar/delphi-neon.git
[submodule "Classes/Terceiros/FastMM4"]
	path = Classes/Terceiros/FastMM4
	url = https://github.com/pleriche/FastMM4.git
[submodule "Classes/Terceiros/DataSetConverter4Delphi"]
	path = Classes/Terceiros/DataSetConverter4Delphi
	url = https://github.com/evaldoavelar/DataSetConverter4Delphi.git
[submodule "Classes/Terceiros/DGoogleAnalytics"]
	path = Classes/Terceiros/DGoogleAnalytics
	url = https://github.com/maiconsi/DGoogleAnalytics.git
